*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgrey;
}

header{
    height: 250px;
    display:flex;
    background-image: url("images/Banniere.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


header img{
    max-height: 80%;
    margin-left: 100px;
    border-radius: 40%;
    margin-top: auto;
    margin-bottom: auto;
}

h1{
    color:white;
    font-size: 3em;
    text-decoration: underline;
}

ul{
    display: flex;
    flex-wrap: wrap;
}

li{
    margin-left: 1em;
    font-size: 2em;
    list-style: none;
}

a{
    color:white;
    text-decoration: none;
}

a:hover{
    color:blue;
}
.menu{
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}


.techno{
    margin-top:1.5em;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.techno img{
    width: 70px;
    margin-left:10px;
    margin-right: 10px;
}

.presentation{
   width: 70%;
   margin:auto;
   text-align: center;
   margin-top: 3em;
}

.parcours{
    margin-top: 5em;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left:100px;
    margin-right: 100px;
}

.parcours img{
    width: 300px;
    height: 200px;
    border: 2px solid white;
    box-shadow: 5px 5px 5px black;
}

.contact{
    max-width: 20%;
    height: 650px;
    background-color: rgb(184, 179, 179);
    text-align: center;
}


.contact img{
    max-width:10%;
}
.coordonnees{
    margin-top: 20px;
}


.reseau{
    margin-top: 40px;
}
.reseau img{
    max-width: 60%;
    margin-top: 3em;
}

.container2{
    display:flex;
}

span{
    font-weight: bold;
}

h2{
    text-align:center;
}

.formations{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.formations h2{
margin-top: 2em;
}

.experiences{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
}

.experiences h2{
margin-top: 2em;
}

@media (max-width: 480px) {
    header{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .container2{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .contact{
        display: flex;
        flex-direction: column;
        max-width:100%;
        height:100%;
    }
}

@media (max-width: 480px) {
    .reseau img{
        max-width: 40%;
    }
}